* {
    /* define a área de margem nos quatro lados do elemento */
    margin: 0;
    /* distância entre o conteúdo de um elemento e suas bordas */
    padding: 0;
    /* para configurar uma ou mais das propriedades de contorno */
    outline: 0;
}

body {
    /* Definindo a fonte de todo nosso body */
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

li {
    /* retirando as bolinhas das nossas listas */
    list-style: none;
}

.header-menu {
    /* // Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens. */
    display: flex;
    /*Deixa o nosso header fixo*/
    position: fixed;
    /*Largura*/
    width: 100%;
    /*Espaçamento dos 4 lados*/
    padding: 8px;
    /*Espaçamento inferior*/
    padding-bottom: 20px;
    /*Espaçamento superior*/
    padding-top: 20px;
    height: 60px;
    background-color: #724796;
}

.header-menu nav {
    display: flex;
    justify-content:flex-end;
    width: 100%;
}

.lista-menu {
    display: flex;
    /*Espaçamento entre eles seja igual*/
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
    align-items: center;
}

/*estilizando os itens com tag a de dentro da nossa lista*/
.lista-menu li>a {
    color: #fff;
    font-size: 18px;
    text-decoration: inherit;
}

.principal {
    height: 100vh;
    display: flex;
    background-color: #eaeaea;
}

.container {
    /*uma margem automática para todos os lados*/
    margin-right: auto;
    margin-left: auto;
    /*largura maxima*/
    max-width: 960px;
    /* Espaçamento direito*/
    padding-right: 10px;
    /*Espaçamento esquerdo*/
    padding-left: 10px;
    /*largura*/
    width: 100%;
}

.subcontainer-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.nome-completo {
    font-size: 36px;
    color: #ff4dbc;
    font-weight: 700;
    height: 45px;

}

.profissao {
    font-size: 24px;
    line-height: 32px;
    height: 40px;
    color: #c6b5d5;
}

.sobre {
    font-size: 20px;
    line-height: 32px;
}

.lista-disciplinas {
    color: black;
    font-size: 36px;
    display: flex;
    align-items: center;
    
}

.lista-article {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;

}

.topico-principal {
    font-size: 36px;
    color: #ff4dbc;
}

.lista-item {
    padding: 32px;
}

.lista-item ul li {
    margin-bottom: 32px;
}

.lista-titulo {
    margin-bottom: 5px;
    font-size: 22px;
    color: #661e4b;
    font-weight: 700;
}

.lista-local {
    font-size: 18px;
    color: #2f80ed;

}

.lista-descricao {
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
    color: #828282;
    font-weight: 300;
}

.wrapper-portfolio {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
}

.lista-subtitulo {
    font-size: 18px;
    color: #828282;
    font-weight: 500;
}

.footer {
    background-color: #724796;
    height: 30vh;
    display: flex;
    align-items: center;
}

.lista-footer li {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.estilo-icon {
    /* tamanho do ícone */
    font-size: 32px;
    /* espaçamento do ícone para o texto */
    margin-right: 10px;
}

.links {
    text-decoration: none;
    color: #fff;
}